      html,
      body {
        height: 100%;
      }

      .arrow-icon {
        width: 25px;
        height: 30px;
        transition: transform 0.3s ease;
        cursor: pointer;
      }

      .arrow-icon:hover {
        transform: scale(1.1);
      }

      .arrow-link {
        display: inline-block;
      }

      b {
        display: inline-block; /* Needed for transform to work properly */
        transition: transform 0.1s ease;
        text-decoration: underline;
      }

      b:hover {
        transform: scale(1.05);
      }